[submodule "Custom_FlaskWtf_Filters_and_Validators"]
	path = /home/thebuleganteng/MyFinance50_public/Custom_FlaskWtf_Filters_and_Validators
	url = git@github.com:TheBuleGanteng/Custom_FlaskWtf_Filters_and_Validators.git
