{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        {{ form.hidden_tag() }}

        <!-- symbol -->
        <div class="mb-3">
            {{ form.symbol(class='form-control mx-auto w-auto', id='symbol', autocomplete='off', autofocus=True, placeholder='Stock symbol') }}
        </div>
        <div class='mb-3'>
            {% if form.symbol.errors %}
                <div class='text-danger'>
                    {% for error in form.symbol.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- /symbol -->

        <!-- shares -->
        <div class="mb-3">
            {{ form.shares(class='form-control mx-auto w-auto', id='shares', autocomplete='off', autofocus=True, placeholder='Number of shares') }}
        </div>
        <div class='mb-3'>
            {% if form.shares.errors %}
                <div class='text-danger'>
                    {% for error in form.shares.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- /shares -->

        {{ form.submit_button(class='btn btn-primary', id='submit_button') }}
    
    </form>
{% endblock %}