{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
<h2>Transaction History</h2>
<table>
    <thead>
        <tr>
            <!-- Below are the headers for the table that shows stock info -->
            <th>Date / Time</th>
            <th>Transaction ID</th>
            <th>Share Symbol</th>
            <th>Transaction Type</th>
            <th>Shares</th>
            <th>Transaction Value Per Share</th>
            <th>Total Tranasction Value</th>
        </tr>
    </thead>
    <tbody>
        <!-- Below are the values that have been passed in from app.py in the /quote function -->
        {% for transaction in history %}
            <tr>
                <td>{{ transaction.timestamp }}</td>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.transaction_value_per_share | usd }}</td>
                <td>{{ transaction.transaction_value_total | usd }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

