{% extends "layout.html" %}

{% block title %}
    User Portfolio
{% endblock %}

{% block main %}
<h2>{{ username }}'s Portfolio</h2>
<table>
    <thead>
        <tr>
            <!-- Below are the headers for the table that shows stock info -->
            <th>Symbol</th>
            <th>Current Price</th>
            <th>Shares Owned</th>
            <th>Holdings Value</th>
        </tr>
    </thead>
    <tbody>
        <!-- Below are the values that have been passed in from app.py in the /quote function -->
        {% for row in portfolio %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["current_price"] | usd }}</td>
                <td>{{ row["summed_txn_shares"] }}</td>
                <td>{{ row["summed_txn_value"] | usd }}</td>

            </tr>
        {% endfor %}
            <tr>
                <b>
                <td>Cash</td>
                <td>-</td>
                <td>-</td>
                <td>{{ cash | usd }}</td>
                </b>
            </td>
            <tr style="font-weight:bold">
                <td>Total Portfolio</td>
                <td>-</td>
                <td>-</td>
                <td>{{ total_portfolio | usd }}</td>
            </td>

        </tr>
    </tbody>
</table>
{% endblock %}

