{% extends "layout.html" %}

{% block title %}
    User Portfolio
{% endblock %}

{% block main %}

<!-- link to index_detail -->
<div class='row' style='margin-bottom: 20px;'>
    <div class='col-sm-4 col-md-3 col-lg-2'>
        <a href="{{ url_for('index_detail') }}" class='btn btn-primary w-100'>Switch to detailed view</a>
    </div>    
</div>
<!-- /link to index_detail -->

<h2>{{ user.username }}'s Portfolio</h2>

<table>
    <thead>
        <tr>
            <!-- Below are the headers for the table that shows stock info -->
            <th>Symbol</th>
            <th>Shares Owned</th>
            <th>Current Price per Share</th>
            <th>Current Holdings Value</th>
        </tr>
    </thead>
    <tbody>
        <!-- Below are the values that have been passed in from app.py in the /quote function -->
        {% for symbol, data in portfolio._portfolio_data.items() %}
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ data['shares']  }}</td>
                <td>{{ data['market_value_per_share'] | usd }}</td>
                <td>{{ data['market_value_total'] | usd }}</td>
            </tr>
        {% endfor %}
            <tr>
                <b>
                <td>Cash</td>
                <td>-</td>
                <td>-</td>
                <td>{{ portfolio.cash | usd }}</td>
                </b>
            </td>
            <tr style="font-weight:bold">
                <td>Total Portfolio</td>
                <td>-</td>
                <td>-</td>
                <td>{{ portfolio.portfolio_market_value_incl_cash | usd }}</td>
            </td>

        </tr>
    </tbody>
</table>
{% endblock %}

