{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="/password_change" method="post">
        {{ form.hidden_tag() }}
        
        <!-- email -->
        <div class="mb-3">
            {{ form.email(class='form-control mx-auto w-auto', id='email', autocomplete='off', autofocus=True, placeholder='Email address') }}
        </div>
        <div class='mb-3'>
            {% if form.email.errors %}
                <div class='text-danger'>
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- /email -->
        
        
        <!-- password -->
        <div class="mb-3">
            {{ form.password(class='form-control mx-auto w-auto', id='password', autocomplete='off', autofocus=True, placeholder='Current password') }}
        </div>
        <div class='mb-3'>
            {% if form.password.errors %}
                <div class='text-danger'>
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- /password -->
        
        
        <!-- password_new -->
        <div class="mb-3">
            {{ form.password_new(class='form-control mx-auto w-auto', id='password_new', autocomplete='off', autofocus=True, placeholder='New password') }}
        </div>
        <div class='mb-3'>
            {% if form.password_new.errors %}
                <div class='text-danger'>
                    {% for error in form.password_new.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- /password_new -->
        
        <!-- password_new_confirmation -->
        <div class="mb-3">
            {{ form.password_new_confirmation(class='form-control mx-auto w-auto', id='password_new_confirmation', autocomplete='off', autofocus=True, placeholder='New password confirmation') }}
        </div>
        <div class='mb-3'>
            {% if form.password_new_confirmation.errors %}
                <div class='text-danger'>
                    {% for error in form.password_new_confirmation.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- /password_new_confirmation -->

        {{ form.submit_button(class='btn btn-primary', id='submit_button') }}
    
    </form>
{% endblock %}