{% extends 'layout.html' %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<!-- Instructional text -->
<div class="container-fluid ps-0 mb-1">
    <div class="container-fluid container-instructions-start-bold">
        Please complete all the fields below and click "submit" to create your account.
    </div>
    <div class="container-fluid container-instructions-start">
        
    </div>
</div>
<!-- /Instructional text -->


<!-- Profile -->
<form action='/profile' method='post'>
    {{ form.hidden_tag() }}

    <!-- section header: Personal info -->
    <div class="container-fluid ps-0 mb-0">
        <div class='container-fluid container-instructions-start-bold mb-0 mt-4' style='font-style: italic'>
            Personal information
        </div>
        <hr>
    <!-- /section header: Personal info -->

    <!-- name_full -->
    <div class='user_input_registration row'>
        {{ form.name_full.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.name_full(class='form-control', id='name_full', readonly=True) }}
        </div>
        <div class='col-sm-2 mt-2'>
            <a href='#' id='updateButtonNameFull' class='btn btn-profile-change btn-primary w-100'>update</a>
        </div>
    </div>
    <!-- /name_full -->

    <!-- name_first and name_last errors -->
    <div class='col-sm-12 col-md-8 col-lg-6 d-flex align-items-center'>
        {% if form.name_first.errors %}
            <div class='errors'>
                {% for error in form.name_first.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class='col-sm-12 col-md-8 col-lg-6 d-flex align-items-center'>
        {% if form.name_last.errors %}
            <div class='errors'>
                {% for error in form.name_last.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- name_first and name_last errors -->

    <div class="container-fluid" id='profile_hidden_name_container' style='display: none; padding: 0; margin: 0' !important>
        
        <!-- name_first  -->
        <div class='user_input_registration row' id='profile_hidden_first_name' style='margin-top: -5px;'>        
            {{ form.name_first.label(class='col-sm-2 form-label-start-req-bold') }}
            <div class='col-sm-8 col-md-6 col-lg-4'>
                {{ form.name_first(class='form-control', id='name_first') }}
            </div>
            <div class='col-sm-2 mt-2'>
            </div>
        </div>
        <!-- /name_first  -->

        <!-- name_last  -->
        <div class='user_input_registration row' id='profile_hidden_last_name' style='margin-bottom: 40px; margin-top: -5px;'>        
            {{ form.name_last.label(class='col-sm-2 form-label-start-req-bold') }}
            <div class='col-sm-8 col-md-6 col-lg-4'>
                {{ form.name_last(class='form-control', id='name_last') }}
            </div>
            <div class='col-sm-2 mt-2'>
            </div>
        </div>
        <!-- /name_last  -->
    </div>
    
    <!-- username_old -->
    <div class='user_input_registration row'>
        {{ form.username_old.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.username_old(class='form-control', readonly=True) }}
        </div>
        <div class='col-sm-2 mt-2'>
            <a href='#' id='updateButtonUsername' class='btn btn-profile-change btn-primary w-100'>update</a>
        </div>
    </div>
    <!-- /username_old -->

    <!-- username errors -->
    <div class='col-sm-12 col-md-8 col-lg-6 d-flex align-items-center'>
        {% if form.username.errors %}
            <div class='errors'>
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- /username errors -->
    
    <!-- username -->
    <div class="container-fluid" id='profile_hidden_username_container' style='display: none; padding: 0; margin: 0' !important>
        <div class='user_input_registration row' style='margin-top: -5px;'>        
            {{ form.username.label(class='col-sm-2 form-label-start-req-bold') }}
            <div class='col-sm-8 col-md-6 col-lg-4'>
                {{ form.username(class='form-control', id='username') }}
            </div>
        </div>
    </div>
    <!-- /username -->

    <!-- username validation -->
    <div class='user_input_registration row'>
        <label class='col-sm-2 form-label-start-req-bold'></label>
        <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation' id='username_validation' name='username_validation' style='display: none;'>
                <a></a>
        </div>
        <div class='col-sm-2 mt-2'>
        </div>
    </div>
    <!-- /username validation -->

    <!-- email -->
    <div class='user_input_registration row'>
        {{ form.email.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.email(class='form-control', id='email', readonly=True) }}
        </div>
    </div>
    <!-- /email -->

    <!-- created -->
    <div class='user_input_registration row'>
        {{ form.created.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.created(class='form-control', id='created', readonly=True) }}
        </div>
    </div>
    <!-- /created -->

    <!-- password -->
    <div class='user_input_registration row'>
        <label class='col-sm-2 form-label-start-bold'>Password:</label>
        <div class='col-sm-10 col-md-6 col-lg-4'>
            <a href='/password_change' class='btn btn-primary' style='width: 100%'>Click to change password</a>
        </div>
    </div>
    <!-- /password -->

    <!-- section header: Accounting and tax info -->
    <div class='container-fluid ps-0 mb-1'>
        <div class='container-fluid container-instructions-start-bold mb-0 mt-4' style='font-style: italic'>
            Accounting and tax information
        </div>
        <hr>
    </div>
    <!-- /section header: Accounting and tax info -->

    <!-- accounting_method -->
    <div class='user_input_registration row'>        
        {{ form.accounting_method.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.accounting_method(class='form-control', id='accounting_method') }}
        </div>
        <div class='col-sm-2 mt-2'>
            <i class="fas fa-question-circle ml-2" data-toggle="tooltip" title='"FIFO" (first-in, first-out) means that when someone sells a given amount of shares in a company, the oldest shares are assumed to be the first sold. This is the policy followed by most tax authorities.'></i>
        <div>
        </div>
            {% if form.accounting_method.errors %}
                <div class='text-danger'>
                    {% for error in form.accounting_method.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /accounting_method -->

    <!-- tax_loss_offsets -->
    <div class='user_input_registration row'>        
        {{ form.tax_loss_offsets.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.tax_loss_offsets(class='form-control', id='tax_loss_offsets') }}
        </div>
        <div class='col-sm-2 mt-2'>
            <i class="fas fa-question-circle ml-2" data-toggle="tooltip" title='"On" means that within a given year when taxes are calculated, losses on share sales offset gains on share sales. Followed by most tax authorities.'></i>
        <div>
            {% if form.tax_loss_offsets.errors %}
                <div class='text-danger'>
                    {% for error in form.tax_loss_offsets.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /tax_loss_offsets -->

    <!-- tax_rate_STCG -->
    <div class='user_input_registration row'>
        {{ form.tax_rate_STCG.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            <span id='tax_rate_STCG_value'>
                {{ "%.2f%%"|format(form.tax_rate_STCG.data or form.tax_rate_STCG.default) }}
            </span>
            {{ form.tax_rate_STCG }}
            {{ form.tax_rate_STCG_hidden(id='tax_rate_STCG_hidden') }}
            <i class="fas fa-question-circle ml-2" data-toggle="tooltip" title='The tax applied to profits on share sales when the holding period was < 365 days.'></i>
            {% if form.tax_rate_STCG.errors %}
                <div class='text-danger'>
                    {% for error in form.tax_rate_STCG.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    <!-- /tax_rate_STCG --> 
    
    <!-- tax_rate_LTCG -->
    <div class='user_input_registration row'>
        {{ form.tax_rate_LTCG.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            <input type="hidden" name="tax_rate_STCG__value_hidden" id="tax_rate_STCG_value_hidden" value="">
            <span id='tax_rate_LTCG_value'>
                {{ "%.2f%%"|format(form.tax_rate_LTCG.data or form.tax_rate_LTCG.default) }}
            </span>
            {{ form.tax_rate_LTCG }}
            {{ form.tax_rate_LTCG_hidden(id='tax_rate_LTCG_hidden') }}
            <i class="fas fa-question-circle ml-2" data-toggle="tooltip" title='The tax applied to profits on share sales when the holding period was => 365 days.'></i>
            {% if form.tax_rate_LTCG.errors %}
                <div class='text-danger'>
                    {% for error in form.tax_rate_LTCG.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    <!-- /tax_rate_LTCG -->
 
    <!-- cancel and submit buttons -->
    <div class='row' style='margin-top: 20px; margin-bottom: 10px;'>
        <div class='col-sm-6 col-md-4 col-lg-3'>
            <a href="{{ url_for('index') }}" class='btn btn-secondary w-100'>Back</a>
        </div>
        <div class='col-sm-6 col-md-4 col-lg-3'>
            {{ form.submit_button(class='btn btn-success w-100', id='submit_button', disabled=True) }}
        </div>
    </div>
    <!-- /cancel and submit buttons -->
    
</form>
<!-- /Profile -->

{% endblock %}