{% extends 'layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<!-- boostrap5 loading spinner -->
<div id="loadingSpinner" class="d-flex align-items-center justify-content-center" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.7); z-index: 9999;">
    <div>
      <strong>Loading...</strong>
      <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
</div>
<!-- /boostrap5 loading spinner -->

<!-- Instructional text -->
<div class="container-fluid ps-0 mb-1">
    <div class="container-fluid container-instructions-start-bold">
        Please complete all the fields below and click "submit" to create your account.
    </div>
    <div class="container-fluid container-instructions-start">
        Required fields
    </div>
</div>
<!-- /Instructional text -->

<!-- Register -->
<form action='/register' method='post'>
    {{ form.hidden_tag() }}

    <!-- section header: Personal info -->
    <div class="container-fluid ps-0 mb-0">
        <div class='container-fluid container-instructions-start-bold mb-0 mt-4' style='font-style: italic'>
            Personal information
        </div>
        <hr>
    <!-- /section header: Personal info -->

    <!-- name_first -->
    <div class='user_input_registration row'>
        <div class='col-sm-2' style='align-self: flex-start; text-align: start'>
            {{ form.name_first.label(class='form-label-start-req-bold') }}
        </div>
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.name_first(class='form-control', id='name_first', autocomplete='off', autofocus=True, placeholder='First name') }}
            {% if form.name_first.errors %}
                <div class='text-danger mt-2'>
                    {% for error in form.name_first.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /name_first -->

    <!-- name_last -->
    <div class='user_input_registration row'>
        <div class='col-sm-2' style='align-self: flex-start; text-align: start'>
            {{ form.name_last.label(class='form-label-start-req-bold') }}
        </div>
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.name_last(class='form-control', id='name_last', autocomplete='off', autofocus=True, placeholder='Last name') }}
            {% if form.name_last.errors %}
                <div class='text-danger mt-2'>
                    {% for error in form.name_last.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /name_last -->

    <!-- username -->
    <div class='user_input_registration row'>
        <div class='col-sm-2' style='align-self: flex-start; text-align: start'>
            {{ form.username.label(class='form-label-start-req-bold') }}
        </div>
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.username(class='form-control', id='username', autocomplete='off', autofocus=True, placeholder='Username') }}
            {% if form.username.errors %}
                <div class='text-danger mt-2'>
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /username -->

    <!-- username validation -->
    <div class='user_input_registration row'>
        <label class='col-sm-2 form-label-start-req-bold'></label>
        <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation' id='username_validation' name='username_validation' style='display: none;'>
                <a></a>
        </div>
        <div class='col-sm-2 mt-2'>
        </div>
    </div>
    <!-- /username validation -->

    <!-- email -->
    <div class='user_input_registration row'>
        <div class='col-sm-2' style='align-self: flex-start; text-align: start'>
            {{ form.email.label(class='form-label-start-req-bold') }}
        </div>
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.email(class='form-control', id='email', autocomplete='off', autofocus=True, placeholder='Email address') }}
            {% if form.email.errors %}
                <div class='text-danger mt-2'>
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /email -->

    <!-- email validation -->
    <div class='user_input_registration row'>
        <label class='col-sm-2 form-label-start-req-bold'></label>
        <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation' id='email_validation' name='email_validation' style='display: none;'>
                <a></a>
        </div>
        <div class='col-sm-2 mt-2'>
        </div>
    </div>
    <!-- /email validation -->
    
    <!-- password -->
    <div class='user_input_registration row'>
        <div class='col-sm-2' style='align-self: flex-start; text-align: start'>
            {{ form.password.label(class='form-label-start-req-bold') }}
        </div>
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.password(class='form-control', id='password', autocomplete='off', autofocus=True, placeholder='Password') }}
            {% if form.password.errors %}
                <div class='text-danger mt-2'>
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class='user-input-validation row'>
        <label class='col-sm-2 form-label-start-req-bold'></label>
        <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation' style='color: black' id='password_validation' name='password_validation'>
            <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation-pw-bullets'>
                <a>Password must:</a>
                <ul>
                    <li id='pw_min_tot_chars_li' name='pw_min_tot_chars_li'>Include at least {{ pw_req_length }} characters total, including at least: 
                    
                    <li class="custom-bullet-secondary" id='pw_min_letters_li' name='pw_min_letters_li'>{{ pw_req_letter }} letters</li>
                    
                    <li class="custom-bullet-secondary" id='pw_min_num_li' name='pw_min_num_li'>{{ pw_req_num }} numbers</li>
                    
                    <li class="custom-bullet-secondary" id='pw_min_sym_li' name='pw_min_sym_li'>{{ pw_req_symbol }} symbols from the following list: {{ user_input_allowed_symbols }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /password -->

    <!-- password_confirmation -->
    <div class='user_input_registration row'>
        <div class='col-sm-2' style='align-self: flex-start; text-align: start'>
            {{ form.password_confirmation.label(class='form-label-start-req-bold') }}
        </div>
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.password_confirmation(class='form-control', id='password_confirmation', autocomplete='off', autofocus=True, placeholder='Password confirmation') }}
            {% if form.password_confirmation.errors %}
                <div class='text-danger mt-2'>
                    {% for error in form.password_confirmation.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class='user-input-validation row'>
        <label class='col-sm-2 form-label-start-req-bold'></label>
        <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation' style='color: black' id='password_confirmation_validation' name='password_confirmation_validation'>
            <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation-pw-bullets'>
                <a>Password confirmation must:</a>
                <ul>
                    <li id='password_confirmation_validation_match' name='password_confirmation_validation_match'>Match password</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /password_confirmation -->

    <!-- section header: Accounting and tax info -->
    <div class='container-fluid ps-0 mb-1'>
        <div class='container-fluid container-instructions-start-bold mb-0 mt-4' style='font-style: italic'>
            Accounting and tax information
        </div>
        <hr>
    </div>
    <!-- /section header: Accounting and tax info -->

    <!-- cash_initial -->
    <div class='user_input_registration row'>
        <div class='col-sm-2' style='align-self: flex-start; text-align: start'>
            {{ form.cash_initial.label(class='form-label-start-req-bold') }}
        </div>
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.cash_initial(class='form-control', id='cash_initial', autocomplete='off', placeholder='$10,000') }}
            {% if form.cash_initial.errors %}
                <div class='text-danger mt-2'>
                    {% for error in form.cash_initial.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /cash_initial -->
    
    
    <!-- accounting_method -->
    <div class='user_input_registration row'>        
        {{ form.accounting_method.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.accounting_method(class='form-control', id='accounting_method') }}
        </div>
        <div class='col-sm-2 mt-2'>
            <i class="fas fa-question-circle ml-2" data-bs-toggle="tooltip" data-bs-placement="top" title='"FIFO" (first-in, first-out) means that when someone sells a given amount of shares in a company, the oldest shares are assumed to be the first sold. This is the policy followed by most tax authorities.'></i>
        <div>
        </div>
            {% if form.accounting_method.errors %}
                <div class='text-danger'>
                    {% for error in form.accounting_method.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /accounting_method -->

    <!-- tax_loss_offsets -->
    <div class='user_input_registration row'>        
        {{ form.tax_loss_offsets.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            {{ form.tax_loss_offsets(class='form-control', id='tax_loss_offsets') }}
        </div>
        <div class='col-sm-2 mt-2'>
            <i class="fas fa-question-circle ml-2" data-bs-toggle="tooltip" data-bs-placement="top" title='"On" means that within a given year when taxes are calculated, losses on share sales offset gains on share sales. Followed by most tax authorities.'></i>
        <div>
            {% if form.tax_loss_offsets.errors %}
                <div class='text-danger'>
                    {% for error in form.tax_loss_offsets.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /tax_loss_offsets -->

    <!-- tax_rate_STCG -->
    <div class='user_input_registration row'>
        {{ form.tax_rate_STCG.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            <span id='tax_rate_STCG_value'>
                {{ "%.2f%%"|format(form.tax_rate_STCG.data or form.tax_rate_STCG.default) }}
            </span>
            {{ form.tax_rate_STCG }}
            {{ form.tax_rate_STCG_hidden(id='tax_rate_STCG_hidden') }}
            <i class="fas fa-question-circle ml-2" data-toggle="tooltip" title='The tax applied to profits on share sales when the holding period was < 365 days.'></i>
            {% if form.tax_rate_STCG.errors %}
                <div class='text-danger'>
                    {% for error in form.tax_rate_STCG.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    <!-- /tax_rate_STCG --> 
    
    <!-- tax_rate_LTCG -->
    <div class='user_input_registration row'>
        {{ form.tax_rate_LTCG.label(class='col-sm-2 form-label-start-bold') }}
        <div class='col-sm-8 col-md-6 col-lg-4'>
            <input type="hidden" name="tax_rate_STCG__value_hidden" id="tax_rate_STCG_value_hidden" value="">
            <span id='tax_rate_LTCG_value'>
                {{ "%.2f%%"|format(form.tax_rate_LTCG.data or form.tax_rate_LTCG.default) }}
            </span>
            {{ form.tax_rate_LTCG }}
            {{ form.tax_rate_LTCG_hidden(id='tax_rate_LTCG_hidden') }}
            <i class="fas fa-question-circle ml-2" data-toggle="tooltip" title='The tax applied to profits on share sales when the holding period was => 365 days.'></i>
            {% if form.tax_rate_LTCG.errors %}
                <div class='text-danger'>
                    {% for error in form.tax_rate_LTCG.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    <!-- /tax_rate_LTCG -->

    <!-- cancel and submit buttons-->
    <div class='row' style='margin-top: 20px; margin-bottom: 10px;'>
        <div class='col-sm-6 col-md-4 col-lg-3'>
            <a href="{{ url_for('index') }}" class='btn btn-secondary w-100'>Back</a>
        </div>
        <div class='col-sm-6 col-md-4 col-lg-3'>
            {{ form.submit_button(class='btn btn-success w-100', id='submit_button', disabled=True) }}
        </div>
    </div>
    <!-- /cancel and submit buttons-->

</form>
<!-- /Register -->

{% endblock %}
