{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}

<!-- Instructional text -->
<div class="container-fluid ps-0 mb-1">
    <div class="container-fluid container-instructions-start-bold">
        Please enter a stock symbol and number of shares.
    </div>
    <div class="container-fluid container-instructions-start">
    </div>
</div>
<!-- /Instructional text -->

<form action="/sell" method="post">
    {{ form.hidden_tag() }}

    <!-- transaction_type (hidden) -->
    {{ form.transaction_type }}
    <!-- /transaction_type (hidden) -->
    
    <table>
        <thead>
            <tr>
                <!-- table labels -->
                <th>{{ form.symbol.label }}</th>
                <th>{{ form.shares.label }}</th>
                <th></th>
                <!-- /table labels -->

            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="display: flex; flex-direction: column; justify-content: center;">
                
                    <!-- symbol -->
                    {{ form.symbol }}
                    {% if form.symbol.errors %}
                        <div class='text-danger'>
                            {% for error in form.symbol.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- /symbol -->

                    <!-- symbol validation -->
                    <div class='user_input_registration row' style='display: none;'>
                        <label class='col-sm-2 form-label-start-req-bold'></label>
                        <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation' id='symbol_validation' name='symbol_validation' style='display: none;'>
                                <a></a>
                        </div>
                        <div class='col-sm-2 mt-2'>
                        </div>
                    </div>
                    <!-- /symbol validation -->
    
                </td>
                        
                <td style="display: flex; flex-direction: column; justify-content: center;">

                    <!-- shares -->
                    <div class="start-align">
                        {{ form.shares(class='form-control', id='shares', placeholder='Shares to sell') }}
                    </div>   
                    {% if form.shares.errors %}
                        <div class='text-danger'>
                            {% for error in form.shares.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- /shares -->

                    <!-- shares_validation -->
                    <div class='container-input-validation mt-2' id='shares_validation' name='shares_validation' style='display: none;'>
                        <a></a>
                    </div>
                    <!-- /shares_validation -->

                </td>
                
                <!-- cancel and submit buttons-->
                <td style='vertical-align: top'>
                    <div id='submit_button_container' style='height: fit-content;'>
                        {{ form.submit_button(class='btn btn-success w-100 mt-2', id='submit_button', disabled=True) }}
                        <a href="{{ url_for('index') }}" class='btn btn-secondary w-100 mt-2'>Back</a>                    
                    </div>
                </td>
                <!-- /cancel and submit buttons-->

            </tr>
        </tbody>
    </table>

</form>
{% endblock %}
