{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
<h2>Sell Stocks</h2>
<form action="/sell" method="post">
    {{ form.hidden_tag() }}
    
    <table>
        <thead>
            <tr>
                <th>{{ form.symbol.label }}</th>
                <th>{{ form.shares.label }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id="symbol" name="symbol">
                        <option disabled selected>Select Symbol</option>
                        {% for choice in form.symbol.choices %}
                            <option value='{{ choice }}'>{{ choice }}</option>
                        {% endfor %}
                    </select>
                    <div>
                        {% if form.symbol.errors %}
                            <div class='text-danger'>
                                {% for error in form.symbol.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </td>
                <!-- /symbols -->

                <!-- shares -->
                <td class="start-align">{{ form.shares(class='form-control', id='shares', placeholder='Shares to sell') }}</td>
                <div>
                    {% if form.shares.errors %}
                        <div class='text-danger'>
                            {% for error in form.shares.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- /shares -->
                
                <td>{{ form.submit(class='btn btn-primary', type='submit') }}</td>
            </tr>
        </tbody>
    </table>

</form>
{% endblock %}
